<p>

<h2>Task ID: <%= @task.id %></h2>

</p>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Reference:</b>
  <%= @task.reference %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@task) %>
</p>

<h2>Pages</h2>
<%= render @task.pages %>


<h2>Add a page:</h2>
<%= render "pages/form" %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
